.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: rgb(218, 246, 244);
}

.btn{
    margin-top: 20px;
    height: 24px;
    background-color: rgb(13, 118, 78);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.log-out-btn{
    margin-top: 20px;
    height: 26px;
    background-color: rgb(59, 139, 214);
    font-size: large;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.main{
    margin-top: 5rem;
}

.error{
    color: red;
}

th{
    border-radius: 3px;
    background-color: rgb(151, 214, 215);
    padding: 6px;

    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

td{
    background-color: rgb(169, 225, 207);
    padding: 10px;
    font-size: large;
}
table{
    background-color: rgb(238, 244, 249);
    text-align: center;
}

.balance{
    background-color: rgb(47, 174, 132);
    margin-bottom: 2rem;
    margin-left:0;
    width: 10rem;
    padding: 2rem;
    font-size:x-large;
    border-radius: 5px;
    color: black;
}

.account-main{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-div{
    flex: 1;
   
    height: 100%;
}

.right-div{
    flex: 2;
    height: 100%;
 
}

.add-device-btn{
    border: none;
    border-radius: 3px;
    background-color: rgb(30, 181, 83);
    padding: 10px;
    width: 8rem;
    font-size: large;
    cursor: pointer;
}